@model csharp_boolflix.Models.Content

@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-black p-5">
    <h1 class="text-white mb-3">@Model.Title</h1>
    <button class="btn btn-danger">Play</button>
</div>
